<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quarterback Stats</title>
  <link rel="stylesheet" href="/styless.css"> 
</head>
<body>
  <h1>Quarterback Stats</h1>
  <p>Name: <%= qb.name %></p>
  <p>Team: <%= qb.team %></p>
  <p>Touchdowns: <%= qb.touchdowns %></p>
  <p>Interceptions: <%= qb.interceptions %></p>
  <p>QBR: <%= qb.qbr %></p>
  <a href="/">HOME</a>
</body>
</html>
